body {
    background-image: url('../img/wp3484419.jpg');
    width: 2114px;
    height: 1000px;
    display: grid;
    position: relative;
    bottom:500px;
}
    .carousel-item{
    height: 720px;
    width: 1280px;
}

.header-image {
    width: 55% !important;
    display: block;
    margin-left: auto ;
    margin-right: auto ;
 
}
.h1 {
    text-align:initial;
    color:white;
}
body{
    margin: 0px;
}
.content{
    color:white;
    text-align:left
}

.footer1{
    position: absolute;
    bottom:0;
    width:100%;
    white-space: nowrap;
    line-height:-90px;

}